*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
}

.nav-container{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background:rgba(0,0,0,0.2);    
}

.nav-items a{
    text-decoration: none;
    color: #d3d3d3;
}

.nav-items a:hover{
    color: white;
}

.nav-items:nth-child(6) {
    background: #009dff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
  }

.hero-container h1{
    color: white;
    font-size: 4.2rem;
    padding-top: 50px;
    padding-left: 110px;
    font-weight: 600;
}

.hero-container h2{
    color: white;
    font-size: 2.2rem;
    padding-top: 10px;
    padding-left: 112px;
    font-weight: 600;
}

header{
    background:  url('images/back2.jpg');
    width: 100%;
    height: 758px;
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
    margin-top: 0px;
}

.hero-container button{
    color: white;
	background-color: #009DFF;
	border:none;
	font-size: 20px;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
    margin-left: 112px;
    margin-top: 150px;
    font-weight: 700;
}

.icon-bar {
    width: 20%;
    background:rgba(0,0,0,0.1);  
    overflow: auto;
    position: absolute;
    bottom: 5px;
    right: 0;
    margin-right: 5px;
}
  
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 15px 0px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: #000;
} 



.grid-container{
	display: grid;
	grid-template-columns:auto auto ;
	text-align: center;
	align-items: center;
	grid-row-gap: 50px;
}


.grid-items img{
    margin-top: 50px;
	width: 700px;
	height: 600px;
	border-radius: 8px;
    margin-left: 90px;
}

.grid-items p:nth-child(1){
    font-size: 2.4rem;
    margin-left: 125px;
    margin-right: 124px;
    display: block;
    line-height: 3.5em;
    font-weight: 900;
}
.grid-items p:nth-child(2){
    font-size: 1.8rem;
    margin-left: 125px;
    margin-right: 125px;
    display: block;
    line-height: 1.4em;
    text-align: justify;
}


.grid-items p:nth-child(3){
    font-size: 2.4rem;
    margin-left: 125px;
    margin-right: 125px;
    display: block;
    line-height: 3.5em;
    font-weight: 900;
}
.grid-items p:nth-child(4){
    font-size: 1.8rem;
    margin-left: 125px;
    margin-right: 125px;
    display: block;
    line-height: 1.4em;
}
.second{
    margin-top: 8px;
    background-color: #f0f0f0;
    /* opacity: 0.2; */
    padding-bottom: 100px
}




.third{
    margin-top: 8px;
    background-color: #0c1012;
    /* opacity: 0.2; */
    padding-bottom: 140px;
    padding-top:100px;
}

.grid-container2{
	display: grid;
	grid-template-columns:auto auto ;
	text-align: center;
	align-items: center;
	grid-row-gap: 50px;
}


.grid-items2 img{
    margin-top: 50px;
	width: 700px;
	height: 600px;
	border-radius: 8px;
    margin-left: 90px;
}

.grid-items2 p:nth-child(1){
    font-size: 2.4rem;
    margin-left: 125px;
    margin-right: 124px;
    display: block;
    line-height: 3.5em;
    font-weight: 900;
    color: white;
}
.grid-items2 p:nth-child(2){
    font-size: 1.8rem;
    margin-left: 125px;
    margin-right: 125px;
    display: block;
    line-height: 1.4em;
    text-align: justify;
    color: white;
}


.grid-items2 p:nth-child(3){
    font-size: 2.4rem;
    margin-left: 125px;
    margin-right: 125px;
    display: block;
    line-height: 3.5em;
    font-weight: 900;
    color: white;
}
.grid-items2 p:nth-child(4){
    font-size: 1.8rem;
    margin-left: 125px;
    margin-right: 125px;
    display: block;
    line-height: 1.4em;
    color: white;
}





.icon-container{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    text-align: center;
    justify-content: space-around;
    /* background:rgba(0,0,0,0.2);     */
}

.icon-container img{
    margin-top: 80px;
    width: 80px;
    height: 80px;
    margin-bottom: 100px;
}

.fourth{
    margin-top: 8px;
    background-color: #f0f0f0;
    /* opacity: 0.2; */
    padding-bottom: 80px;
    /* padding-top:100px; */
}

.fourth .headingp h1{
    font-size: 3.4em;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    cursor:default;
    font-weight: 700;
}

/* .forth img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 150px;
    margin-bottom: 10px;
} */

.grid-container3{
	display: grid;
	grid-template-columns:auto auto ;
	text-align: center;
	align-items: center;
    column-gap: 50px;
    /* background-color: #009dff; */
    margin-left: 150px;
    margin-right: 150px;   
}


.grid-items3 img{
    margin-top: 50px;
	width: 350px;
	height: 300px;
	border-radius: 8px;
    margin-left: 50px;
    margin-right: 50px;
}
.grid-items3 p{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: justify;
}

.grid-items3{
    /* background-color:rgba(0,0,0,0.1) ; */
    /* border: 1px solid rgba(0,0,0,0.8); */
    /* padding: 0px;
    font-size: 20px; */
    text-align: center;
     /* margin-left: 30px; */
    /* margin-right: 200px; */
    border-radius: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top:  20px; 
    border: 1px;
    box-shadow: 2px 2px #545454;
    cursor: pointer;  
}

.grid-items3:hover{
    background-color: white;
}


.fourth button{
    color: white;
	background-color: #009DFF;
	border:none;
	font-size: 20px;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
    margin-left: 1300px;
    margin-top: 50px;
    font-weight: 700;
    width: 10%;
}

.fourth button:hover{
    background-color: black;
}



.fifth{
    background-color: white;
    margin-top: 20px;
    padding-bottom: 50px;
}

.grid2-container {
    display: grid;
    grid-template-columns: 800px 600px 800px;
    padding-bottom: 50px;
}
.grid2-item {
    font-size: 30px;
}
  
.grid2-item h2{
    margin-left: 20px;
}
  
  
.flip-card {
    background-color: transparent;
    width: 430px;
    height: 260px;
    perspective: 1000px;
    border-radius:10px;
    margin-left: 130px;
    margin-top: 50px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius:10px;
}
  
.flip-card-front {
    background-color: #770737;
    color: white;
    padding-left:50px;
    padding-top:30px;
    padding-right:50px;
}
  
.flip-card-front h1{
    font-size:2.0rem;
}
  
.flip-card-front p{
    font-size:1.2rem;
    margin-top:40px;
}
  
.flip-card-front button{
    font-size:1.2rem;
    background-color:white;
    font-weight:590;
    border:none;
    padding:10px;
}
  
.flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
}
  /*2nd side*/
  
  
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px; 
}
.main2-container{
      padding-top:40px;
      background-color:#dddddd;
      width:550px;
      border-radius:10px;
      height:258px;
}
  
.icon {
    padding:10px;
    color: white;
    min-width: 50px;
    text-align: center;
    margin-left:25px;
    background: black;
}
  
.input-field {
    width: 80%;
    padding: 10px;
    margin-right:30px;
}
  
.input-field:focus {
    border: 2px solid black;
}
  
  /* Set a style for the submit button */
.btn {
    background-color: white;
    color: black;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 90%;
    margin-left:25px;
    font-size:1.2rem;
    background-color:white;
    font-weight:590;
    border:none;
    
}
  
.btn:hover {
    opacity: 1;
}
  
  
.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight:550;
    transition: 0.4s;
    border-top:none;
    border-left:none;
    border-right:none;
}
  
.active, .accordion:hover {
    background-color: white; 
}
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 16px;
}
  
h2{
      color:#770737;
      font-size:1.8rem;
      padding-top: 25px;
}
  
.lastbtn button{
      margin-top:55px;
      margin-left: 10px;
      padding:8px;
      font-weight:550;
      color: black;
      /* border-color: #770737; */
      background-color: #f0f0f0;
      border: none;
      border-radius: 15px;
}

.lastbtn button:hover{
    background-color: #770737;
    color: white;
}

.sixth{
    background-image: url('images/counterBack.jpg');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
    z-index: -1;
}

.cgrid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    color:white;
    justify-content: space-around;
    padding-top:150px;
}

.cgrid-items .counter-container .count{
    font-size: 5.4rem;
}

.cgrid-items .counter-container .text-container p{
    font-size: 2.5rem;
}

.footer{
    background-color:black;  
    height: 600px;
    margin-top: 15px; 
    
}

.fgrid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.fgrid h1{
    font-size: 30px;
    color: #009DFF;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 150px;
    font-weight: 700;
}

.fgrid-container .fgrid p{
    font-size:20px;
    text-align: justify;
    color: #770737;
    padding-left: 80px;
}

.footer {
    margin-top:0px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
}  
 
 .lastline p{
     font-size: 10px;
     color: #4C4E52;
     padding-top: 30px;
 }
 
 .nav-bar a{
     color: #4C4E52;
     text-decoration: none;
     padding: 10px;
 }
 
 .nav-bar {
     padding-top: 30px;
     margin-left: auto;
     margin-right: auto;
 }
 
 .nav-bar a:hover{
     color: white;
 }